{
  "name": "Wiener Netze Smartmeter (Sample)",
  "values": [
    {"key": "auth_url", "value": "https://log.wien/auth/realms/logwien/protocol/openid-connect", "type": "default"},
    {"key": "api_config_url", "value": "https://smartmeter-web.wienernetze.at/assets/app-config.json", "type": "default"},
    {"key": "page_url", "value": "https://smartmeter-web.wienernetze.at/", "type": "default"},
    {"key": "b2c_api_url", "value": "https://api.wstw.at/gateway/WN_SMART_METER_PORTAL_API_B2C/1.0", "type": "default"},
    {"key": "b2b_api_url", "value": "https://api.wstw.at/gateway/WN_SMART_METER_PORTAL_API_B2B/1.0", "type": "default"},
    {"key": "alt_api_url", "value": "https://service.wienernetze.at/sm/api", "type": "default"},
    {"key": "client_id", "value": "wn-smartmeter", "type": "default"},
    {"key": "redirect_uri", "value": "https://smartmeter-web.wienernetze.at/", "type": "default"},
    {"key": "user_agent", "value": "Mozilla/5.0", "type": "default"},

    {"key": "username", "value": "", "type": "secret"},
    {"key": "password", "value": "", "type": "secret"},

    {"key": "code_challenge", "value": "", "type": "default"},
    {"key": "code_verifier", "value": "", "type": "default"},
    {"key": "auth_action_url", "value": "", "type": "default"},
    {"key": "auth_code", "value": "", "type": "default"},

    {"key": "access_token", "value": "", "type": "secret"},
    {"key": "b2c_api_key", "value": "", "type": "secret"},
    {"key": "b2b_api_key", "value": "", "type": "secret"},

    {"key": "customer_id", "value": "", "type": "default"},
    {"key": "zaehlpunktnummer", "value": "", "type": "default"},

    {"key": "date_from", "value": "2026-02-01T00:00:00+01:00", "type": "default"},
    {"key": "date_to", "value": "2026-02-02T00:00:00+01:00", "type": "default"},
    {"key": "date_from_day", "value": "2026-02-01", "type": "default"},
    {"key": "date_to_day", "value": "2026-02-02", "type": "default"},

    {"key": "day_view_resolution", "value": "HOUR", "type": "default"},
    {"key": "wertetyp", "value": "DAY", "type": "default"},
    {"key": "rolle", "value": "V001", "type": "default"},
    {"key": "zeitpunkt_von", "value": "2026-02-01T00:00:00+01:00", "type": "default"},
    {"key": "zeitpunkt_bis", "value": "2026-02-02T00:00:00+01:00", "type": "default"},

    {"key": "date_until", "value": "2026-02-02", "type": "default"},
    {"key": "event_name", "value": "My Event", "type": "default"},
    {"key": "event_type", "value": "CUSTOM", "type": "default"},
    {"key": "start_at", "value": "2026-02-01T00:00:00+01:00", "type": "default"},
    {"key": "end_at", "value": "2026-02-01T01:00:00+01:00", "type": "default"},
    {"key": "ereignis_id", "value": "", "type": "default"}
  ],
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2026-02-06T00:00:00.000Z",
  "_postman_exported_using": "Postman/10.0.0"
}
