{
  "auth_url": "https://log.wien/auth/realms/logwien/protocol/openid-connect",
  "client_id": "wn-smartmeter",
  "redirect_uri": "https://smartmeter-web.wienernetze.at/",
  "code_verifier": "",
  "code_challenge": "",
  "auth_action_url": "",
  "auth_code": "",
  "username": "",
  "password": "",
  "access_token": "",
  "b2c_api_url": "https://api.wstw.at/gateway/WN_SMART_METER_PORTAL_API_B2C/1.0",
  "b2b_api_url": "https://api.wstw.at/gateway/WN_SMART_METER_PORTAL_API_B2B/1.0",
  "alt_api_url": "https://service.wienernetze.at/sm/api",
  "b2c_api_key": "",
  "b2b_api_key": "",
  "customer_id": "",
  "zaehlpunktnummer": "",
  "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
}
